body{
	background-image: url('../img/Fondo.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.centrar{
	display: flex;
  	align-items: center;
  	justify-content: center;
  	min-height: 100vh;
}